@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

$linkcolor: #ED6913;
$menulinkcolor: #369100;
$menubg: #D0D0D0;
$datecolor: #222;

$smallwidth:  900px;
$smallheight: 580px;
$xlargewidth: 1400px;

$verticalmenuwidth: 270px;
$horizontalmenuheight: 354px;
$layoutsidemarginlarge: 50px;
$layoutsidemarginsmall: 15px;

body{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:1em;
    a{
      color: $linkcolor;
    }
    a:hover{
      color: lighten($linkcolor, 15%);
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#profilpic{
    border-radius: 50em;
    padding: 10px;
}

h1{
    font-size:2.2em;
}

h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  color: darken($menulinkcolor, 10%);
}

h1, .highlight{
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #fff;
    background-color: rgba(20,20,20,0.4);
    padding: 3px;
}

.date{
  color: $datecolor;
  text-align: center;
}

.article{
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  font-size: 64px;
  margin-bottom: 10px;
}

.menu{
  font-family: 'Open Sans', sans-serif;
  top: 0;
  background-color: $menubg;
  color: #fff;
  .menuentries {
    a{
      font-weight:300;
      color: $menulinkcolor;
      outline: none;
      // text-decoration: none;
    }
    p{
      padding: 5px;
    }
    #mod{
      font-size: 1.2em;
      color: #333;
    }
    .summary{
      color: #333;
    }
  }
}

.menuentries .active{
    a{
      color: #555;
    }
    background-color: #eee;
    box-shadow: 4px 4px 6px #aaa;
}

.layout {
  position: relative;
}

/*Small Widht*/
@media screen and (max-width: $smallwidth) {
  .menu {
    height: auto;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    font-size:8vw;
  }
  .layout {
    margin-right:$layoutsidemarginsmall;
    margin-left: $layoutsidemarginsmall;
    margin-top: 10px;
  }
  h1 {
    font-size: 15vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
  }
  .socialnetworks a{
    display: block;
  }
}


/*Large Widht*/
@media screen and (min-width: $smallwidth) and (min-height: $smallheight) {
  body{
    img{
        padding: 10px;

    }
  }
  .menu {
    position: fixed;
    width: auto;
    height: 100vh;
    padding: 20px;
    margin-right: 5px;
    div {
      // margin-right: 10px;
    }
    h1{
      padding: 18px;
      margin-top: 15px;
    }
    p{
      // margin-left: 2em;
    }
  }
  .menuentries{
    a {
      font-size: 1.3em;
    }
  }
  .layout {
    margin-right:$layoutsidemarginlarge;
    margin-left: $verticalmenuwidth + $layoutsidemarginlarge;
    margin-top: 20px;
  }
  .widthcontainer{
    max-width: 600px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .heightcontainer{
    min-height: 85vh;
  }
  /*.socialnetworks{
    position: fixed;
    bottom: 5px;
    span {
      display: block;
      margin-bottom: 0.8em;
    }*/
  /*}*/
}


/*Large Widht Small Height*/
@media screen and (min-width: $smallwidth) and (max-height: $smallheight) {
  .menu {
    height: auto;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    position: relative;
  }
  .socialnetworks{
    /*position: relative;*/
    /*max-width: 100px;*/

  }
  .layout {
    margin-right:$layoutsidemarginsmall;
    margin-left: $layoutsidemarginsmall;
    margin-top: 10px;
  }
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}


/*X-Large screens*/
@media screen and (min-width: $xlargewidth) and (min-height: $smallheight) {
  .layout{
    padding-right: 15vw;
    padding-left: 15vw;
  }
}


.socialnetworks{
  a{
    font-size: 1em;
    margin-right: 35px;
  }
}


.code{
  font-family: "courier";

}

p.code{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  color: white;
  margin-left: 1.5em;
}

span.code{
  color: #111;
}


.legend{
  font-size: 0.8em;
  margin-left: 3em;
  background-position: #ccc;
}

.quote {
    font-family: "Times New Roman",Times,serif;
    font-weight:300;
    color: #171717;
    background-color: rgb(241,241,241);
    padding: 1em;
    margin-left: 1.5em;
    .fa {
      font-size: 1.8em;
      color: #aaa;
      margin: 0.2em 0.6em 0.2em 0.6em;
    }
}

.lang{
  font-family: "Times New Roman",Times,serif;
}