$linkcolor: #333FB0;
$menubg: #222;

body{
    /*position: fixed;*/
    /*top: 0;*/
    font-family: "Open Sans", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size:1em;
    a{
      color: $linkcolor;
    }
    a:hover{
      color: lighten($linkcolor, 15%);
    }
/*    a:active, a:visited{
      color: darken($linkcolor, 15%);
    }*/
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}

h1{
  font-family:"Open Sans",sans-serif;
    font-weight:300;
    font-size:2.2em;
    color: #fff;
    background-color: rgba(20,20,20,0.4);
}

$verticalmenuwidth: 270px;
$horizontalmenuheight: 354px;
$layoutsidemargin: 50px;


.menu{
  top: 0;
  background-color: $menubg;
  color: #fff;
}

.layout {
  position: relative;
}

@media screen and (max-width: 600px) {
  .menu {
    height: auto;
    width: 100vw;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
    font-size:8vw;
  }
  .layout {
    margin-right:$layoutsidemargin;
    margin-left: $layoutsidemargin;
    margin-top: 10px;
  }
  h1 {
    font-size: 15vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 600px) {
  .menu {
    position: fixed;
    width: auto;
    height: 100vh;
    padding: 20px;
    margin-right: 5px;
    div {
      margin-left: 40px;
      margin-right: 10px;
    }
    a{
      font-size: 1.3em;
      margin-bottom: 50px;
      font-weight:300;
    }
    h1{
      padding: 18px;
      margin-top: 15px;
    }
  }
  .layout {
    margin-right:$layoutsidemargin;
    margin-left: $verticalmenuwidth + $layoutsidemargin;
    margin-top: 20px;
  }
  .widthcontainer{
    max-width: 600px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .socialnetworks{
    position: fixed;
    bottom: 5px;
    span {
      display: block;
      margin-bottom: 0.8em;
    }
  }
}

.socialnetworks{
  a{
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) and (max-height: 580px) {
  .menu {
    padding: 5px;
    margin-right: 5px;
    a{
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    h1{
      padding: 5px;
      margin-top: 2px;
    }
    .menuentries{
      max-height: 30vh;
      p{
        margin-top: -15px
      }
    }
  }

    .socialnetworks{
      /*max-height: 15vh;*/
      max-width: $verticalmenuwidth - 100px;
      span {
        display: inline;
      }
    }
    .optional {
      display: none;
    }
}