
<template name="about">

 <p>I&rsquo;m a 25-year-old entrepreneur-minded citizen graduated (2012) from a double master
  degree in management with the ESC Toulouse (France) and the WFI Ingolstadt (Germany).
  Since 2008 and the most 


  , fueled by hope and indignation, I started to explore the world of
  emerging new technologies and fast-evolving social
  context to help new opportunities of change for the better to emerge.<br />
  I have a particular focus on P2P-economy, open and hack logics (open
  source/design/data, DIY&hellip;) and their implementation in <a href=
  "http://blogs.hbr.org/cs/2012/04/transformational_entrepreneurs.html" title=
  "Transformational Entrepreneurship: Where Technology Meets Societal Impact" target=
  "_blank">transformational entrepreneurship</a> processes toward a society of greater
  capacity of care, being an enthusiast reader of <a href=
  "http://arsindustrialis.org/manifesto-2010" title="Ars Industrialis - Manifesto"
  target="_blank">Bernard Stiegler's and Ars Industrialis's critics of our current
  system</a>.</p>

  <p>I already tried to launch my own venture in the sharing-economy: <a href=
  "http://maxlath.eu/booksurfing" title="Booksurfing" target="_blank">BookSurfing</a>, a
  P2P system for physical books between neighbours, friends and communities. The project
  is today in stand-by but I'll be back on that one day! (BookSurfing might be one of the
  first applications of a Peers Resources Management system. cf hereafter)<br />
  <br />
  I just finished my <a href="http://maxlath.eu/paper-ethical-marketing" title=
  "Master Thesis" target="_blank">master thesis</a>, dealing with a particularly exciting
  subject (from my point of view): "<em>Rethink Ethical Marketing after the critics of
  Bernard Stiegler and its implementation in the emerging technological and sociological
  context</em>". The short excerpts published on the <a href=
  "http://p2pfoundation.net/Ethical_Marketing_in_Age_of_Horizontal_Socialization" title=
  "Ethical Marketing at the age of horizontal socialization" target="_blank">P2P
  Foundation wiki</a> might help you to have a quick overlook. I would be glad to have
  your <a href="http://maxlath.eu/ethical-marketing-discussion" title=
  "Ethical Marketing Discussion" target="_blank">feedback</a> on that.</p>

  <p>The <strong>Vendor Relationship Management</strong> approach presented in this
  excerpt represent, I think, one of our best chances to fight businesses structural
  irresponsibility, including marketing's huge negative externalities. I'm thus coming
  back on my P2P sharing system project with the strong desire to experiment
  possibilities of a future <strong>Peers Resources Management</strong> system, adding to
  the VRM paradigm the power of horizontal connexions.</p>

  <p><a href="https://www.dropbox.com/s/fpyzkt89lgzzwje/CV%20Maxime%20Lathuiliere.pdf"
  title="CV Maxime Lathuili&egrave;re" target="_blank"><img alt=
  "I'm open to mission propositions" height="165" src=
  "http://25.media.tumblr.com/d49f687fb93556a8f2f1ddf20d75c9c0/tumblr_m3td7oJ9qb1ro7srco1_r16_500.png"
  width="500" /></a></p>

  <p>Meanwhile, those techno-socio-philosophical speculations and experimentations
  doesn't make a living for now, I need to find my "sustainable path". I'm thus open to
  mission propositions allowing me to keep developing and monetize my growing expertise
  in web projects management with a focus on social innovation projects: the future is
  pretty blur at the moment and no doors are closed, get in touch !</p>

  <p><a href="https://www.dropbox.com/s/fpyzkt89lgzzwje/CV%20Maxime%20Lathuiliere.pdf"
  title="CV Maxime Lathuili&egrave;re" target="_blank"><img alt="Telecharger CV PDF"
  height="60" src="http://www.mcs-lyon.com/images/pdf_button.png" /></a><a href=
  "https://www.dropbox.com/s/fpyzkt89lgzzwje/CV%20Maxime%20Lathuiliere.pdf" title=
  "CV Maxime Lathuili&egrave;re" target="_blank">Download my CV as a PDF</a></p>

  <p><br />
  <a href="http://maxlath.eu/#16472770331" title=
  "Associations &amp; contributions">Associations &amp; contributions</a></p>

  <p>I'm member of several associations, with which I haven't been as active as I would
  like to be for the moment, but it's only a matter of time!</p>

  <p>*<a href="http://oui-share.com" target="_blank">OuiShare</a> member, the growing
  trans-national (but europe-centered) sharing-economy community.<br />
  *<a href="http://arsindustrialis.org/manifesto-2010" title="Ars Industrialis Manifesto"
  target="_blank">ArsIndustrialis</a>, the association created by Bernard Stiegler
  calling for an industrial politics of spirit.</p>

  <p>*L'<a href="http://www.april.org/" title="April" target="_blank">April</a>, the
  french association for the promotion of Free Software (passive member). <a href=
  "http://www.april.org/adherer?referent=Maxime+LATHUILI%C3%88RE+%28mlathuiliere%29"
  title="Adh&eacute;sion April" target="_blank">Join us!<br /></a>*<a href=
  "http://www.wikimedia.org/" title="Wikimedia" target="_blank">Wikimedia</a> (passive
  member)</p>

  <p>I'm a proud supporter of <a href="http://www.laquadrature.net/en" title=
  "La Quadrature du Net" target="_blank">La Quadrature du Net</a> and <a href=
  "http://www.mozilla.org/" title="Mozilla" target="_blank">Mozilla</a></p>

  <p>Based in Paris at the moment, I'm an enthusiast/full-time/addicted member of the
  <a href="http://mutinerie.org" title="Mutinerie Coworking Paris" target=
  "_blank">Mutinerie Coworking</a>!<br />
  <br />
  Last but not least, I&rsquo;m fond of pizza</p>

	
</template>