<template name="about">
    <h2>About</h2>
  </p>
<p>Entrepreneur-minded citizen graduated from a double master degree in management with the ESC Toulouse (France)
and the WFI Ingolstadt (Germany). Fueled by hope and indignation, I explore new technologies and the fast-evolving
social context to help new opportunities of change for the better to emerge.</p>
<p>I have thus a particular focus on P2P-economy, open and hack logics (open source/design/data, DIY…)
and their implementation in transformational entrepreneurship processes toward a society of greater capacity
of care, being an enthusiast reader of Bernard Stiegler’s and Ars Industrialis’s critics of our current system.</p>
<p>
    <h4>Social networks</h4>
  {{> socialnetworks}}
  <p>
    <h4>Also</h4>
    <ul>
      <li><a href="http://ouishare.net/en/profile/38">OuiShare Connector</a></li>
      <li><a href="http://www.mutinerie.org/mutins/maxime/">Mutin</a></li>
    </ul>
<h2>Getting serious</h2>
<p>Since Spring 2013, i took the plunge of seriously starting to learn web development, resulting in a sort of
full-stack web social entrepreneur profile or, being less arrogant, a guy with values, ideas and a clue.</p>
<p>I hope 2014 to be the year I publish a first prototype of what I called a <a href="p2p-rm">P2P-RM system</a></p>

<p><h3>Specialization:</h3>
  <ul>
    <li>sociotechnical design in the context of the Web</li>
    <li>social entrepreneurship and project management with social impact in mind</li>
  </ul>
</p>

<h3>Familiar technical stacks:</h3>
<p>
  <h4>back:</h4>
  <ul>
    <li>Node / Express (or Americano)</li>
    <li>Meteor</li>
    <li>Ruby on Rails</li>
  </ul>
</p>
<p>
  <h4>front:</h4>
  <ul>
    <li>jQuery</li>
    <li>Backbone</li>
    <li>Foundation</li>
  </ul>
</p>
<p>
<h3>Currently exploring:</h3>
<ul>
  <li>CouchDB</li>
  <li><a href="http://remotestorage.io/">RemoteStorage</a> ( <3 <a href="http://unhosted.org/">Unhosted</a>)</li>
  <li><a href="http://wikidata.org/">WikiData</a></li>
  <li>ElasticSearch</li>
</ul>
</p>

</template>