<template name="about">
  <p>
  This part was too outdated so it's offline for now, but here is what I say on twitter:
  </p>
  <p>
  <em>citizen working on P2P Resources Management / JS & RoR @simplonco / @OuiShareLabs #BasicIncome #RealDemocracy #ReDecentralize / general organology&counter-modulation</em>
  </p>
  {{> socialnetworks}}
  <p>
      <h3>Also</h3>
      <ul>
          <li><a href="http://ouishare.net/en/profile/38">OuiShare Connector</a></li>
          <li><a href="http://www.mutinerie.org/mutins/maxime/">Mutin</a></li>
      </ul>
  </p>
</template>