<template name="contributions">
	
<h2>Collaborative Knowledge</h2>
<p><strong>Wikipedia</strong></p>
<p>Huge fan of the project, here are my latest contributions, mainly in French</p>
<p><a href="http://fr.wikipedia.org/w/index.php?title=Sp&eacute;cial:Contributions&amp;limit=500&amp;target=Zorglub27" title="Contribution Fran&ccedil;ais Zorglub27">Contributions in French</a></p>
<p><a href="http://en.wikipedia.org/wiki/Special:Contributions/Zorglub27" title="Contribution English Zorglub27">Contributions in English</a></p>
<h2>Collaborative Translation</h2>
<p><strong>UniversalSubtitles</strong></p>
<p>Great project boosted by <a href="https://www.drumbeat.org/" title="Mozilla Drumbeat">Mozilla Drumbeat</a>, aiming to ease the translation of any video online in all the languages. <a href="http://www.universalsubtitles.org/fr/profiles/MaxLath/" title="Universalsubtitles Maxime Lathuiliere">My Profil</a> on UniversalSubtitles.</p>
<ul>
<li><a href="http://www.universalsubtitles.org/fr/videos/4Ud44YKma0tx/info/" title="Video permalink">[EN] La soci&eacute;t&eacute; civile s'en va t'en guerre &agrave; l' e-G8</a></li>
</ul>
<p><strong>Framablog<br /></strong></p>
<p>I modestly contributed to the translation of a few articles for this blog on Free Software related topics: <a href="http://www.framablog.org/index.php/?q=maxlath" title="framablog maxlath" target="_blank">articles with my contributions</a></p>

</template>