<template name="masterThesis">

<h2>
	Rethink ethical marketing after the critiques of Bernard Stiegler
</h2>

<img src="http://25.media.tumblr.com/tumblr_lyexdn7Y4T1ro7srco1_r2_500.jpg" alt="Rethink ethical marketing after the critiques of Bernard Stiegler">

<p>Web version of the master thesis paper originally titled <em>Ethisches Marketing und die Philosophie von B. Stiegler</em></p>
<p>written by Maxime Lathuilière as a final work for a double degree ESC Toulouse - Ingolstadt School of Management under the supervision of Prof. Dr. André Habisch. April – September 2012</p>
<p><a class="external-link" href="http://twitter.com/maxlath">@maxlath</a></p>
<p>Permalink<a href="/ethical-marketing-discussion">: </a><a href="/ethical-marketing-discussion"><a class="external-link" href="/master-thesis">http://maxlath.eu/master-thesis</a><br></a><a class="external-link" href="https://www.dropbox.com/s/kuplmvvc79unilv/Master%20Arbeit%20Lathuili%C3%A8re%20Web%20Version%201.pdf">PDF version</a></p>

</template>