<template name="menu">
    <a href="/"><h1>Maxime <br>Lathuilière</h1></a>
	<div class="menuentries">
    <h2 id="mod">Counter-Modulation</h2>

    <span id="paperethicalmarketing">
      <span class="summary">Episode I</span>
      <p><a href="/paper-ethical-marketing">What could <br>Ethical Marketing <br>mean?</a></p>
    </span>

    <span id="p2prm">
      <span class="summary">Episode II<br></span>
      <p><a href="/p2p-rm">P2P-Resources <br>Management</a>
      </p>
    </span>

    <span id="wikidata-and-the-apt-get-of-things">
      <span class="summary">Episode III<br></span>
      <p><a href="/wikidata-and-the-apt-get-of-things">Wikidata and the <br> apt-get of things</a></p>
    </span>

    <hr>

  	<span id="about"><a href="/about">About & Links</a></span>

	</div>
</template>