<template name="ouishare">
	<p>I'm a proud early-member of the Paris-based <a href="http://www.ouishare.net/" title="OuiShare">OuiShare</a> community the community of people who believe in and work for <a href="http://p2pfoundation.net/Category:Collaborative_Economy/">the collaborative economy</a></p>
<p><a href="https://twitter.com/OuiShare" title="Twitter OuiShare"><img alt="Twitter" height="32" src="http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png" width="32" /></a> <a href="http://facebook.com/OuiShare" title="Facebook OuiShare"><img alt="Facebook" height="32" src="http://dcbdluf1ahqio.cloudfront.net/facebook/32x32.png" width="32" /></a></p>
<p>Here will progressively be listed my articles and/or actions for Oui-Share:</p>
<ul>
<li>
<h4 class="entry-title"><a href="http://consocollaborative.com/2171-wifis-org-wifi-partage.html" rel="bookmark" title="Wifis.org, when the WiFi turn social {fr}">Wifis.org, when WiFi turn social {Fr}</a></h4>
</li>
<li>
<h4 class="entry-title">[Translation] <a href="http://www.ouishare.net/fr/2012/09/production-p2p-revolution/" title="Production en P2P: La r&eacute;volution &agrave; port&eacute;e de main" target="_blank">Production en P2P: La r&eacute;volution &agrave; port&eacute;e de main</a></h4>
English to French translation of <span class="author">Simone Cicero article <a href="http://meedabyte.com/2012/06/16/the-revolution-at-hand/" title="The Revolution at Hand" target="_blank">The Revolution at Hand</a></span></li>
</ul>
<ul>
<li><strong><span class="author">[Contribution to translation] </span><a href="http://ouishare.net/fr/2012/12/experience-ouishare-rome/" title="Lexp&eacute;rience OuiShare  Retour sur le deuxi&egrave;me sommet europ&eacute;en &agrave; Rome" target="_blank">L&rsquo;exp&eacute;rience OuiShare &ndash; Retour sur le deuxi&egrave;me &ldquo;sommet europ&eacute;en&rdquo; &agrave; Rome</a></strong><br /><a href="http://ouishare.net/2012/12/takeaways-from-ouishare-summit-2-roma/" title="OuiShare: an ongoing experiment  takeaways from summit #2 in Roma" target="_blank">OuiShare: an ongoing experiment &ndash; takeaways from summit #2 in Roma</a></li>
</ul>
<ul>
<li>I contribute to the organisation of the <a href="http://ouisharefest.com/" title="OuiShare Fest" target="_blank">OuiShare Fest</a> (2-3-4 May 2013)<br /><br /></li>
</ul>
<p><strong>OuiShare Labs</strong><br /><a href="https://twitter.com/OuiShareLabs" title="Twitter OuiShare Labs"><img alt="Twitter" height="32" src="http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png" width="32" /></a> <a href="https://www.facebook.com/groups/OuiShare.Labs/" title="Facebook OuiShare Labs"><img alt="Facebook" height="32" src="http://dcbdluf1ahqio.cloudfront.net/facebook/32x32.png" width="32" /></a></p>
<p>Since February 2013, I'm working to the growth of <strong><a href="http://labs.ouishare.net" title="OuiShare Labs" target="_blank">OuiShare Labs</a></strong>, a tech network promoting and developing inter-compatible systems and personally managed data in the collaborative economy</p>
</template>