<template name="paper-ethical-marketing">

<p>From April to September 2012 I have been busy writing my Master's Thesis as part of my last year of master in management (ESC Toulouse / WFI Ingolstadt), on the following subject:</p>
<p><strong><a href="http://labs.ouishare.net/Rethink_ethical_marketing_after_the_critiques_of_Bernard_Stiegler" title="Rethink ethical marketing after the critiques of Bernard Stiegler" target="_blank">Rethink ethical marketing after the critiques of Bernard Stiegler</a></strong></p>
<p><a href="https://www.dropbox.com/s/kuplmvvc79unilv/Master%20Arbeit%20Lathuili%C3%A8re%20Web%20Version%201.pdf" title="Ethical Marketing Maxime Lathuili&egrave;re">download the pdf</a></p>
<p><strong>Extract published on the P2P Foundation website:</strong></p>
<p><a href="http://p2pfoundation.net/Ethical_Marketing_in_Age_of_Horizontal_Socialization" title="Ethical Marketing in Age of Horizontal Socialization" target="_blank">
<img alt="P2P Foundation Ethical marketing at the age of horizontal socialisation" src="/images/p2p-foundation.png" width="100">

</a></p>
<p><em>Ethical Marketing in Age of Horizontal Socialization</em></p>


</template>	