<template name="pgp">
PGP key for max@this domain

<div class="code">

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.11 (GNU/Linux)

mQENBFMwDu8BCADSRGkOOO9ffmPrhr0uTdDZ0AWWZo0GMGKLsnDceDNug4PQUBP3
SMv3SQMrmKP4NXjvIQKQgwiAAjLswOaGxDwHbpQUmjhAQSD9m4qTsik+hNRHkCE7
q/gbxDnW2BSJhZ06GH+uDgBt/YRnvvFYN06VdF3EkiCzqyCY33zdRFBMTNjc+GY9
G8DVdWRSR/RUD++EXjRPKVqXxBCyswabBqyf27jO0jBQnp1WJZn7w2eHIwsqp4Ao
9m/96kLGRe94oTBHsox2fZXgLg10HSjmz4UgWqCCqCjpUVlrOulbs7CDGuJYiIxg
PYCAJYNUGhINFnh+Qb8hrFuhHDP/a+NttY0zABEBAAG0LU1heGltZSBMYXRodWls
acOocmUgKG5ld2FwcCkgPG1heEBtYXhsYXRoLmV1PokBPgQTAQIAKAUCUzAO7wIb
IwUJCWYBgAYLCQgHAwIGFQgCCQoLBBYCAwECHgECF4AACgkQJJBSCYKdtrtWXAf/
Ug0oB2A3VyttLr+7kAoPD7ntdodc+gJlvdovl0g9+m08tW5aZOiH16ku0FKjIUEx
VyUvqo1muXGZYAh4WcmqgSK0LX5jd7DszpWnLbwObZGQemW2YQXP7zNtBwcQz7Ar
mloPPQgbR9EWbNqsY/IiPTPyCNPJus2nTO5ucxZQKIYJldtX45unC/Gjap//enYs
DBKJ24rWU27trA9iGtlGvEJvDjnCK+slieeVoGDGcFdPDf5pE9qg3Iz5w/M4raVK
c4OqviYW8mhJTeUjxymEkPel8lSifRo2dWJMEKM979x5V/ZuIy++FsXY7UJzHX/K
wF5wa5uwIlkVSmI8BuV0QbkBDQRTMA7vAQgA6sqDN8GSyhM/lcjtBCA9AVzHJmYr
yWNwlgf2XWiD3gTz7y4RGfAKjujTyW7Fn0DlIvwxtPIzX0/7GmCUI6vw4S0Sj3AD
/lBeaLGzWPBysvZJ45hbBGwd3iicpRI4fWdIHok6J+7DA1PniNSP5oOrfwNDI6Vl
uEnRuuj13qYd//Wd+8ZrIVRpsVL1j+ptn4mfVJTylNY209QkWjkIYpefVRUDIQWz
c2nq0hWl1shMz2NnaENqUIjkR5xuR+yelJcedj7oTsJzFvDajzE2DVEwZ961AS+D
tHHh37apdFAQOlXhZwtlivTPwud734eRE9W3iNa/1W/23C2wtdWSQwaD1wARAQAB
iQElBBgBAgAPBQJTMA7vAhsMBQkJZgGAAAoJECSQUgmCnba7Md8H/267MPSBnzNY
mOx6VshTUfCTPFtgXlbkIkjR2N3iKoOpBXQEuKEGo0EIsEHNoxKp8EjXW6a0DUy1
xVEcSK1X1GgT7uVN+9M+kHw3wRIgrELWU3K/NmNmqmk7nL7H+tcn3z5OXOtR0d4r
jEeYk11alV/OiRHv4MtwKVXz/lQDim/PBnf/T1t1zYtDP9qG/t5HUkYU06fW252z
pwrVkzgrS2uAeER70MNaXQaR2NpwHnzQyqxsc6yDgAqaAv9zlGNu3nXu1PVvHDwa
4S6yeaUM4PXQC5mLCnC440WY+xIsbaXJ3sBd6U5GWq0gghC0bgqg9CdUfXyuls3v
OcfCBrKyJt0=
=UHO7
-----END PGP PUBLIC KEY BLOCK-----
</div>
</template>