<template name="socialnetworks">
	<p>
		<a href="mailto:max at maxlath.eu" title="Email" target="_blank" rel="me">Email</a> <br>
		<a href="https://twitter.com/maxlath" title="Twitter" target="_blank" rel="me">@maxlath</a> <br>
		<a href="http://github.com/maxlath/" title="Github" target="_blank">github</a> <br>
		<a href="http://www.linkedin.com/in/maximelathuiliere" title="LinkedIn" target="_blank" rel="me">linkedin</a> <br>
		<a href="https://fr.wikipedia.org/wiki/Sp%C3%A9cial:Contributions/Zorglub27" title="Wikipedia" target="_blank">wikipedia</a> <br>
		<a href="http://soundcloud.com/maxlath" title="SoundCloud" target="_blank">soundcloud</a> <br>
		<a href="https://thepiratebay.se/user/mlt7/" title="The Pirate Bay" target="_blank">the pirate bay</a> <br>
	</p>

<!-- 

<ul>

<li classe="listmargin"; >
<a href="mailto:max @ maxlath.eu" title="Email" target="_blank" ><img class="socialnetworks"; alt="Email"; src="http://25.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r7_100.png"; /></a> 
<a href="https://twitter.com/MaxLath" title="Twitter" target="_blank" rel="me"><img class="socialnetworks"; alt="Twitter" src="http://dcbdluf1ahqio.cloudfront.net/twitter/32x32.png"   /></a> 
<a href="http://facebook.com/maxime.lathuiliere" title="Facebook" target="_blank" rel="me"><img class="socialnetworks"; alt="Facebook"   src="http://dcbdluf1ahqio.cloudfront.net/facebook/32x32.png"   /></a>
</li>

<li classe="listmargin"; >
<a href="http://www.linkedin.com/in/maximelathuiliere" title="LinkedIn" target="_blank" rel="me"><img class="socialnetworks"; alt="LinkedIn"   src="http://dcbdluf1ahqio.cloudfront.net/linkedin/32x32.png"   /></a> 
<a href="https://www.xing.com/profile/Maxime_Lathuiliere2" title="Xing" target="_blank" rel="me"><img class="socialnetworks"; alt="Xing"   src="http://25.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r5_100.png" /></a> 
<a href="http://fr.viadeo.com/fr/profile/maxime.lathuiliere" title="Viadeo" target="_blank" rel="me"><img class="socialnetworks"; alt="Viadeo"   src="http://cache.addthiscdn.com/icons/v1/thumbs/32x32/viadeo.png" /></a>
</li>

<li classe="listmargin"; >
<a href="https://joindiaspora.com/people/70348409f7af579a" title="Diaspora" target="_blank" rel="me"><img class="socialnetworks"; alt="Diaspora"   src="http://24.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r1_100.png" /></a> 
<a href="http://identi.ca/maxlath" title="Identi.ca" target="_blank" rel="me"><img class="socialnetworks"; alt="Identi.ca" src="http://www.alethes.be/sites/alethes.be/themes/alethes/images/identica.png" /></a> 
<a href="https://plus.google.com/100789344878942085371" title="Google Plus" target="_blank" rel="me"><img class="socialnetworks"; alt="G+"   src="http://dcbdluf1ahqio.cloudfront.net/googleplus/32x32.png"   /></a>
</li>

<li classe="listmargin"; >
<a href="http://soundcloud.com/maxlath" title="SoundCloud" target="_blank" rel="me"><img class="socialnetworks"; alt="SoundCloud"; src="http://www.calleandcruz.com/images/buttons/soundcloud.png"; /></a> 
<a href="http://edgeryders.ppa.coe.int/users/maxlath" title="Edgeryders" target="_blank" ><img class="socialnetworks"; alt="Edgeryders"   src="http://25.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r6_100.png" /></a> 
<a href="skype:maxime.lathuiliere?userinfo" title="Skype" target="_blank" ><img class="socialnetworks"; alt="Skype" src="http://asset1.cbsistatic.com/cnwk.1d/i/tim/2011/04/06/Foreman_11882379_7080_skype_32x32.png"   /></a> 
</li>

<li classe="listmargin"; >
<a href="http://fr.wikipedia.org/wiki/Utilisateur:Zorglub27" title="Wikipedia" target="_blank" rel="me"><img class="socialnetworks"; alt="Wikipedia Fr"; src="http://24.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r8_100.png"; /></a> 
<a href="http://www.couchsurfing.org/people/mlt7/" title="CouchSurfing" target="_blank" rel="me"><img class="socialnetworks"; alt="CouchSurfing"   src="http://24.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r9_100.png" /></a> 
<a href="http://www.senscritique.com/mlt7/liste/32589/ces-documentaires-qui-changent-le-monde--ou-du-moins-la-vision-que-j-en-ai-/" title="SensCritique" target="_blank" ><img class="socialnetworks"; alt="SensCritique"   src="http://25.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r10_100.png" /></a>
</li>

<li classe="listmargin"; >
<a href="http://www.quora.com/Maxime-Lathuili%C3%A8re" title="Quora" target="_blank" rel="me"><img class="socialnetworks"; alt="Quora"; src="http://24.media.tumblr.com/tumblr_m3td7oJ9qb1ro7srco1_r11_100.png"; /></a> 
<a href="http://www.reseaufing.org/pg/profile/openid_121403" title="Fing" target="_blank" rel="me"><img class="socialnetworks"; alt="Fing"; src="http://lacantine.org/images/footer_partenaires/fing.jpg"; /></a> 
<a href="https://thepiratebay.se/user/mlt7/" title="The Pirate Bay" target="_blank" rel="me"><img class="socialnetworks"; alt="The Pirate Bay"; src="https://subfission.net/public/images/favicons/thepiratebay.png"; /></a>
</li>
             
</ul> -->
</template>