<template name="socialnetworks">
<div class="socialnetworks">
    <a href="/pgp" title="PGP Key"><i class="fa fa-pencil"></i></i> Email & PGP Key</a>
    <a href="https://twitter.com/maxlath" title="Twitter" target="_blank" rel="me"><i class="fa fa-twitter"></i> twitter</a>
    <a href="http://github.com/maxlath/" title="Github" target="_blank"><i class="fa fa-github"></i> github</a>

    <br>

    <a href="https://fr.wikipedia.org/wiki/Sp%C3%A9cial:Contributions/Zorglub27" title="Wikipedia" target="_blank"><i class="fa fa-puzzle-piece"></i> wikipedia</a>
    <a href="https://www.wikidata.org/wiki/Special:Contributions/Zorglub27" title="WikiData" target="_blank"><i class="fa fa-barcode"></i> wikidata</a>
    <a href="http://www.linkedin.com/in/maximelathuiliere" title="LinkedIn" target="_blank" rel="me"><i class="fa fa-linkedin-square"></i> linkedin</a>

    <br>
    <a href="http://soundcloud.com/maxlath" title="SoundCloud" target="_blank"><i class="fa fa-music"></i> soundcloud</a>
    <a href="https://thepiratebay.se/user/mlt7/" title="The Pirate Bay" target="_blank"><i class="fa fa-folder-open"></i> the pirate bay</a>
</div>
</template>