<template name="socialnetworks">
		<span><a href="mailto:max @ this domain" title="Email" target="_blank" rel="me">Email</a></span>
		<span><a href="https://twitter.com/maxlath" title="Twitter" target="_blank" rel="me">@maxlath</a></span>
		<span><a href="http://github.com/maxlath/" title="Github" target="_blank">github</a></span>
		<span class="optional"><a href="http://www.linkedin.com/in/maximelathuiliere" title="LinkedIn" target="_blank" rel="me">linkedin</a></span>
		<span class="optional"><a href="https://fr.wikipedia.org/wiki/Sp%C3%A9cial:Contributions/Zorglub27" title="Wikipedia" target="_blank">wikipedia</a></span>
		<span class="optional"><a href="http://soundcloud.com/maxlath" title="SoundCloud" target="_blank">soundcloud</a></span>
		<span class="optional"><a href="https://thepiratebay.se/user/mlt7/" title="The Pirate Bay" target="_blank">the pirate bay</a></span>
</template>