<template name="twitter">
	<p><a href="https://twitter.com/#!/MaxLath" title="Twitter Maxime Lathuili&egrave;re">@maxlath</a></p>
<p>People I follow by topic:</p>
<ul>
<li><a href="https://twitter.com/#!/MaxLath/building-a-better-future/members" title="Building a better future"><strong>Building a better future</strong></a>: #Open/Collaborative minds #SocEnt #Sustainable Development /consommacteur #Citizenship</li>
<li><strong><a href="https://twitter.com/#%21/MaxLath/collcons-p2p-sharing/members" title="collcons-p2p-sharing">Collcons P2P Sharing</a></strong>: <span class="list-description">Collaborative Consumption &amp; New Collaborative Industries</span></li>
<li><strong><a href="https://twitter.com/#%21/MaxLath/hackdemocracysocietylife/members" title="Hack Democracy Society Life">Hack Democracy/Society/Life</a></strong> <span class="list-description">OpenGov; Democracy 1.0, LifeHack and more</span></li>
<li><strong><a class="list-name" href="https://twitter.com/#%21/MaxLath/philo-socio-psycho/members">Philo Socio Psycho</a></strong></li>
<li><strong><a class="list-name" href="https://twitter.com/#%21/MaxLath/design-urbanism-genius/members">Design Urbanism and other Genius</a></strong></li>
<li><strong><a class="list-name" href="https://twitter.com/#%21/MaxLath/economics-marketing/members">Economics / Marketing</a></strong></li>
</ul>
<p>And <a href="https://twitter.com/#!/MaxLath/lists" title="Lists">other lists</a></p>
<ul>
<li>Some of my <a href="https://twitter.com/#!/MaxLath/favorites">Favorite</a> tweets</li>
</ul>
</template>