<template name="videos">
	<p>Here are some of my video montages, the time-consuming hobby that initiated the irreversible geekization process ;)</p>
<ul>
<li><strong><a href="http://www.dailymotion.com/embed/video/xcro9r" target="_blank">The most geeky montage</a></strong></li>
</ul>
<p>[Video realized for Hotsoft, the geeky journalists of the Toulouse Business School]</p>
<ul>
<li><strong><a href="http://www.youtube.com/embed/rGOg8BdVCZE" target="_blank">The one made in less than 2 hours, with a "blind" post-production due to a dying computer</a></strong></li>
</ul>
<p>[Video realized for <a href="http://gamorlive.com/">Gamorlive</a>, a project created during the Startup Weekend Lyon, Fall 2010]</p>
<ul>
<li><strong><a href="http://www.youtube.com/embed/VQ-tVsbFsgM" target="_blank">The most branded video</a></strong></li>
</ul>
<p>[Video realized for MediaEtudiant &amp; Marketing Etudiant after LeWeb 2010]</p>
<ul>
<li><strong><a href="http://www.dailymotion.com/embed/video/xdqpr7" target="&quot;_blank">The most Corporate video</a></strong></li>
</ul>
<p>[Video realized for the Toulouse Business School: presentation of the Oral Exams before admission in the school, by the Director Herv&eacute; Gasiglia]</p>
<p><strong>Photo montage / Loltoshop</strong></p>
<ul>
<li><strong><a href="http://blog.maxlath.eu/post/31453342385/alien-vinsky-little-morning-loltoshop-crossing-the" title="Alien-vinsky" target="_blank">Alien-vinsky</a></strong></li>
</ul>

</template>