<template name="lexic">
<div class="article">

    <h2 class="highlight">Lexic of non-english words&nbsp;error rendering Lexic of non-english words (menu
        view)</h2>
    <div>
      
      <h3 id="">Ancient Greek</h3>
      
      <p><strong>Metis</strong>&nbsp;Personification
        of the wisdom and the intelligent ruse in the Greek mythology</p>
      
      <p><strong>Noùs</strong>&nbsp;see
        the French translation&nbsp;<em>Esprit</em>.
        Gives: noetic</p>
      
      <p><strong>Pharmakon</strong>&nbsp;The
        technical object, potentially both poison and remedy (plural:&nbsp;<em>pharmaka</em>).
        Gives: pharmacology</p>
      
      <p><strong>Philia</strong>&nbsp;Love
        in its large understanding, the socialized desire</p>
      
      <p><strong>Physis</strong>&nbsp;The
        nature</p>
      
      <p><strong>Techne</strong>&nbsp;Techniques</p>
      
      <p><br>
        <br>
      </p>
      
      <h3 id="">French</h3>
      
      <p><strong>Bêtise Stupidity</strong>&nbsp;[approximate
        translation of the French&nbsp;<em>bêtise</em>,
        less an insult in Stiegler’s lexic than the polarity opposed to
        intelligence in the spiritual milieu]</p>
      
      <p><strong>Esprit</strong>&nbsp;Meaning
        both&nbsp;<em>spirit</em><span
         >&nbsp;and&nbsp;<em>mind.<span
           >&nbsp;</em>Equivalent to&nbsp;<em>Geist</em><span
         >&nbsp;in german</p>
      
      <p><strong>Savoir</strong>&nbsp;knowledge
        associated with the idea of taste and meaning, resulting from the Latin<span
         >&nbsp;<em>sapere</em>&nbsp;giving
        in French both&nbsp;<em>savoir</em><span
         >&nbsp;and&nbsp;<em>saveur</em><span
         >&nbsp;[savour, taste, relish]</p>
      
      <p><strong>Savoir-faire</strong>&nbsp;know-how
        associated with the idea of taste and meaning</p>
      
      <p><strong>savoir noétique</strong>&nbsp;from<span
         >&nbsp;<em>noùs</em>, theoretical
        and spiritual knowledge.</p>
      
      <p><strong>Savoir-vivre</strong>&nbsp;knowledge
        of living producing meanings constitutive of a culture, sometime
        translated as know-how-to-live-well</p>
      
      <p><strong>Saveur</strong>&nbsp;Savour,
        taste, relish</p>
      
      <p><br>
        <br>
      </p>
      
      <h3 id="">German</h3>
      
      <p><strong>Aufklärung</strong>&nbsp;The
        name of the Enlightments in Germany</p>
      
      <p><strong>Bildung</strong>&nbsp;Both
        the&nbsp;<em>Kultur</em><span
         >&nbsp;and the&nbsp;<em>Aufklärung</em><span
         >&nbsp;for Mendelssohn</p>
      
      <p><strong>Dasein</strong>&nbsp;Heidegger’s
        concept meaning Being their being, often translated as&nbsp;<em>existence</em></p>
      
      <p><strong>Kultur</strong>&nbsp;The
        culture, the civilization</p>
      
      <p><strong>Mündigkeit</strong>&nbsp;Majority,</p>
      
      <p><br>
        <br>
      </p>
      
      <h3 id="">Latin</h3>
      
      <p><strong>Attendere</strong>&nbsp;Attention,
        encompassing both meanings of concentration and care capacities</p>
      
      <p><strong>Interligere</strong>&nbsp;Intelligence
        as what links things together</p>
      
      <p><strong>Sapere</strong>&nbsp;Relish</p>
    </div>
<hr>
{{> masterplan}}
</div>	
</template>