<template name="masterplan">
<ul class="plan panel">
<h3>Plan</h3>
		<li><h5><a href="http://maxlath.eu/paper-ethical-marketing/part-1">
		I.<span class="titletab"></span>The notion of ethical marketing
		</a></h5> </li>
		 
		<li><h5><a href="http://maxlath.eu/paper-ethical-marketing/part-2">
		II.<span class="titletab"></span> Analyze of marketing’s impact on individual and collective psychology with Bernard Stiegler’s work
		</a></h5> </li>

		<li><h5><a href="http://maxlath.eu/paper-ethical-marketing/part-3">
		III.<span class="titletab"></span> Difficulties and opportunities to implement a transindividuation-friendly marketing
		</a></h5> </li>
		 
		<li><a href="http://maxlath.eu/paper-ethical-marketing/bibliography">
		Bibliography
		</a></li>

		<li><a href="http://maxlath.eu/paper-ethical-marketing/lexic">
		Lexic of non-english words
		</a></li>
</ul>
</template>