<template name="part1">
	<div class="deeplinking panel">
			<a href="11">1.1 Marketing definition</a>
			<a href="111">1.1.1 Reframing marketing</a>
			<a href="112">1.1.2 The marketing strategy and its implementation through the 4P: analyzing and sending signals</a>

1.2 Critiques of the marketing leading to the ethical marketing approach

1.3 Responsible marketing as a mirror of corporate responsibility

1.4 The Corporate Social Responsibility insufficiencies regarding marketing
	</div>
<p>
	
The marketing, emanation of the twentieth century, is facing in this new century tremendous challenges in order to answer the critiques that decades of experimentations designed to make customers behavior fall into line with businesses’ interest created. Marketing could be defined as

 

“the activity, set of institutions, and processes for creating, communicating, delivering, and exchanging offerings that have value for customers, clients, partners, and society at large” (American Marketing Association 2007)

 

In terms of institution organization at large, the marketing is thus the function in an institution that organizes the relation between an activity and the rest of society in order to satisfy a pre-defined objective, through potentially all available means. It is thus not only limited to “satisfying customer needs” (Kotler et al. 2005, p.6) but also gather the means by which any organization – businesses, social businesses and non-profit businesses, associations, non-governmental organizations or even governmental organizations – can manage its relationships with the rest of the society. If the organization was a person, marketing would cover the whole communicational process: receiving signals, analyzing signals, sending signals, receiving and processing feedbacks.

</p>



</template>