.titletab{
	margin-left: 10px;
}

.quote {
    font-family: "Times New Roman",Times,serif;
    font-weight:300;
    color: #171717;
    background-color: rgb(241,241,241);
    padding: 3px;
    margin-left: 30px;
    .fa {
    	font-size: 30px;
    	color: #aaa;
    	margin: 10px;
    }
}

.header2{
    margin-top: 10px;
}

.header3{
    margin-top: 5px;
}

ul
{
    list-style-type: none;
}

a.active{
    /*color: #999 !important;*/
    background-color: #aaa;
}