.titletab{
	margin-left: 10px;
}

.quote {
    font-family: 'Times New Roman';
    font-weight:300;
    color: #171717;
    background-color: rgb(241,241,241);
    padding: 3px;
    margin-left: 30px;
    .fa {
    	font-size: 30px;
    	color: #aaa;
    	margin: 10px;
    }
}